body{
    font-family: cursive;
}

/**header**/
#header-nav{
    background-color:#999999;
    border-radius:0px;
    border:0px;
}
#logo-img{
    background: url(#);
    width: 150px;
    height: 150px;
    margin:10px 15px 10px 0px;

}
.navbar-brand{
    padding-top: 25px;
}
.navbar-brand h1{
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color: aqua;
    text-align: center;
}
#nav-list a:hover{
background: #E7E7E7;    
}
.paragraph{
	background-color:#999999;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
	position: relative;
	margin-top:0px;
	padding-top: 60px;
}
.item{
	font-weight:bolder;
	font-size: 1.5em;
	background-color: #999999;
	margin-top: 50px;
	text-align: center;
	
	
	
	
}